html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #FFFFFF;
    --background-2-color: #2F303A;
}
.container {
    display: flex;
}
body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
body ul {
    list-style-type: none;
    padding: 0;
}
.nav > ul {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 8px 0px 0px 0px;
}
.nav li {
    margin-right: 50px;
}
.h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin: 0;
}
.header > .container {
    margin: 0;
    margin-right: auto;
}
.header {
    border-bottom: 1px solid #ECECEC;
}
.header > .contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header.container {
    border: 0;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer {
    background-color: var(--background-2-color);
}
.hero {
    background-color: var(--background-2-color);
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 0;
}
.hero .container {
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.main-text {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin: 200px 0px 30px 0px;
}
.block-01 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.block-01 > ul {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    margin: 94px auto 94px auto;
}
.block-01 li {
    flex-direction: column;
    width: 270px;
}
.block-01 h3, p {
    margin: 0;
}
.block-01 h3 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
}
.container.examples {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    margin: 50px auto 94px auto;
}
.team {
    background-color: #F5F4FA;
}
.team.container {
    flex-direction: column;
    align-items: center;
}
.team .h2 {
    margin: 94px auto 0px auto;
}
.team-team {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    margin: 50px auto 94px auto;
}
.team-team > .container {
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin: 30px 0px 0px 0px;
}
.team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin: 10px 0px 30px 0px;
}
.footer.container {
    flex-direction: column;
    align-items: left;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.block-02 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
.block-02 h2 {
    text-align: left;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.logo {
    color: var(--primary-text-color);
    font-family: Raleway, Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-style: normal;
    margin-right: 93px;
    padding: 0px;
}
.logo-color1 {
    color: var(--accent-color);
}
.logo-f {
    color: #FFFFFF;
    margin: 60px 0px 20px 0px;
}
.logo-f-container {
    margin: 0px 0px 60px 0px;
}
.logo-f-container .link:first-child {
    margin: 0;
}
.logo-f-container .link{
    margin: 9px 0 0 0;
}
.link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;
}
.link.current {
    color: var(--accent-color);
}
.link.contact {
    color: var(--secondary-text-color);
    margin-left: 30px;
}
.link.contact-f {
    color: #FFFFFF99;
}
.link:hover {
    color: var(--accent-color);
}
.link:focus{
    color: var(--accent-color);
}
.link-white {
    color: #FFFFFF;
}
.button {
    color: var(--primary-text-color);
    cursor: pointer;
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.button.hero {
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    height: 50px;
    min-width: 200px;
    border: 1px;
    border-radius: 4px;
    letter-spacing: 0.06em;
    margin: 0px 0px 200px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.no-display {
    display: none;
}
.sec-text {
    color: var(--secondary-text-color);
}